@page "/ChampionshipDetails/{ChampionshipGuid:guid}"

@using SimRacingManager.Core
@using SimRacingManager.Data

<h3>@_newChampionship.Name</h3>

<div class="card">
    <div class="card-header text-center">
        Drivers
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var driver in _newChampionship.Drivers)
        {
            <li class="list-group-item">@driver.Name</li>
        }
    </ul>
</div>

<br/>

<div class="card">
    <div class="card-header text-center">
        Tracks
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var track in _newChampionship.Tracks)
        {
            <li class="list-group-item">@track.Name</li>
        }
    </ul>
</div>

@code {
    [Parameter]
    public Guid ChampionshipGuid { get; set; }
    
    private Championship _newChampionship; // Doesn't matter if this is null, it should always be assigned an instance.

    protected override void OnInitialized()
    {
        foreach (var championship in Championships.ChampionshipsList)
        {
            if (championship.GUID == ChampionshipGuid)
            {
                _newChampionship = championship;
            }
        }
    }
}