@page "/ChampionshipDetails/{ChampionshipGuid:guid}"

@using SimRacingManager.Core
@using SimRacingManager.Data

<h3>@_newChampionship.Name</h3>
<p>There are @_newChampionship.Drivers.Count drivers competing in this Championship.</p>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var track in _newChampionship.Tracks)
    {
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@track.Name</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public Guid ChampionshipGuid { get; set; }

    private Championship _newChampionship = new(string.Empty, 0000, [new Driver(string.Empty)], [new Track(string.Empty)]);
    
    // TODO: Fix this mess.
    protected override void OnInitialized()
    {
        if (Championships.Y2025Q1.GrabInstanceFromGuid(ChampionshipGuid) != null)
        {
            _newChampionship = Championships.Y2025Q1.GrabInstanceFromGuid(ChampionshipGuid);
        }
        else
        {
            _newChampionship = Championships.Y2025Q2.GrabInstanceFromGuid(ChampionshipGuid);   
        }
    }
}