@page "/"

@using SimRacingManager.Core
@using SimRacingManager.Data

@* TODO: Use MudBlazor and MudBlazor.ThemeManager in NuGet instead of Bootstrap / Standard HTML *@
<div class="card">
    <div class="card-header text-center">
        2025
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var championship in _championships)
        {
            @for (var championshipYear = championship.Year; championshipYear == 2025; championshipYear++) /* Looping through championships to check the years */
            {
                <NavLink href="@($"ChampionshipDetails/{championship.GUID}")">
                    <li class="list-group-item">@championship.Name</li>
                </NavLink> 
            }
        }
    </ul>
</div>

@code
{
    private List<Championship> _championships = [Championships.Y2025Q1, Championships.Y2025Q2];

    protected override void OnInitialized()
    {
        // Order based on latest championship.
        _championships.Reverse();
    }
}