@page "/"

@using SimRacingManager.Components.PageComponents
@using SimRacingManager.Core
@using SimRacingManager.Data

<div class="card">
    <div class="card-header text-center">
        2025
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var championship in _championships)
        {
            <ChampionshipCard Championship="championship"/>   
        }
    </ul>
</div>

@code
{
    private static List<Driver> _q1Drivers = [new("Adam"), new("Damien"), new("Harvey"), new("Lee"), new("Trent"), new("Matthew")];
    private List<Championship> _championships = [ChampionshipQ1, ChampionshipQ2];
    
    public static Championship ChampionshipQ2 = new("Quarter 2", _q1Drivers, [Tracks.RoadAmerica, Tracks.WatkinsGlen, Tracks.VirginiaInternationalRaceway, Tracks.Sebring]);
    public static Championship ChampionshipQ1 = new("Quarter 1", _q1Drivers, [Tracks.RoadAmerica]);

    protected override void OnInitialized()
    {
        // Order based on latest championship.
        _championships.Reverse();
    }
}