@page "/"

@using SimRacingManager.Components.PageComponents
@using SimRacingManager.Core
@using SimRacingManager.Data

<div class="card">
    <div class="card-header text-center">
        2025
    </div>
    <ul class="list-group list-group-flush">
        <ChampionshipCard Championship="championship2"/>
        <ChampionshipCard Championship="championship1"/>
    </ul>
</div>

@code
{
    public static List<Driver> q1Drivers = [new("Adam"), new("Damien"), new("Harvey"), new("Lee"), new("Trent"), new("Matthew")];
    
    public static Championship championship2 = new("Quarter 2", q1Drivers, [Tracks.RoadAmerica, Tracks.WatkinsGlen, Tracks.VirginiaInternationalRaceway, Tracks.Sebring]);
    public static Championship championship1 = new("Quarter 1", q1Drivers, [Tracks.RoadAmerica]);
}