@page "/"

@using SimRacingManager.Components.PageComponents
@using SimRacingManager.Core
@using SimRacingManager.Data

<div class="card">
    <div class="card-header text-center">
        2025
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var championship in _championships)
        {
            <ChampionshipCard Championship="championship"/>   
        }
    </ul>
</div>

@code
{
    private List<Championship> _championships = [Championships.Y2025Q1, Championships.Y2025Q2];

    protected override void OnInitialized()
    {
        // Order based on latest championship.
        _championships.Reverse();
    }
}