@using SimRacingManager.Core
<NavLink href="@($"ChampionshipDetails/{Championship.GUID}")">
    <li class="list-group-item">@Championship.Name</li>
</NavLink>

@code {
    [Parameter] public Championship Championship { get; set; }
}