@using SimRacingManager.Core
@using SimRacingManager.Data
@using SimRacingManager.Miscellaneous

@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

<MudDialogProvider /> @* Needed for dialogs *@
<MudSnackbarProvider /> @* Needed for snackbars *@

<MudLayout>
    <MudAppBar>
        <MudBadge Content="CurrentVersion" Overlap="true" Class="mx-6 my-4">
            <MudText Typo="Typo.h5">
                Sim Racing Manager
            </MudText>
        </MudBadge>
        <MudSpacer/>
        <MudText Align="Align.End">@_currentDate.ToShortDateString()</MudText>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="pt-8">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private DateTime _currentDate = DateTime.Today;
    private const string CurrentVersion = "PRE-ALPHA";
    
    protected override void OnInitialized()
    {
        // Everything within this conditional shouldn't be called more than once.
        if (!Globals.HasDatabaseManagerBeenInitialised)
        {
            // If the .env file cannot be found, don't bother making a connection to the database.
            if (DotEnv.SearchForEnvironmentFiles())
            {
                DatabaseManager.Initialise();
                DatabaseManager.FetchAllData();
            }
        }

        Globals.HasDatabaseManagerBeenInitialised = true;
    }
}